/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Mulish", sans-serif;
  color: black;
  background-color: #f1f4f5;
}

.card:hover {
  cursor: pointer;
}
