/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Mulish", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  color: black;
  background-color: #f1f4f5;
}

.card {
  transition: transform 100ms;
}

.card:hover {
  transform: scale(1.1);
}
