/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Mulish", sans-serif;
  color: black;
  background-color: #f1f4f5;
}

.card {
  transition: transform 100ms;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
  cursor: pointer !important;
}

button:hover,
a:hover {
  cursor: pointer !important;
}
