/* .navbar-toggler-icon {
  outline: black !important;
  color: black !important;
} */

.navbar-toggler:hover {
  background-color: black;
  outline: none;
  color: white !important;
}

/* .btn {
  outline: white;
} */

.logo {
  height: 40px;
}
