<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../assets/cheers.png" class="logo" />
  <a class="navbar-brand" routerLink="/home">Salud!</a>
  <button
    class="btn navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto nav">
      <li class="nav-item active">
        <a
          class="nav-link"
          routerLink="/favorites"
          (click)="isMenuCollapsed = true"
          *ngIf="authService.isLoggedIn()"
          >Favorites</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about"
          (click)="isMenuCollapsed = true"
          *ngIf="authService.isLoggedIn()"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about"
          (click)="isMenuCollapsed = true"
          *ngIf="authService.isLoggedOut()"
          >About</a
        >
      </li>
      <app-sign-in *ngIf="authService.isLoggedOut()"></app-sign-in>
      <app-sign-out *ngIf="authService.isLoggedIn()"></app-sign-out>
    </ul>
  </div>
</nav>
