<nav class="navbar navbar-light d-flex">
  <button
    class="btn mr-auto"
    title="Click here to learn about and contact the team!"
    (click)="open()"
  >
    <img src="../../assets/cheers.png" class="logo" />
  </button>
  <a routerLink="/home" class="navbar-brand mx-auto">
    Salud!
  </a>
  <button
    *ngIf="authService.isLoggedIn()"
    class="btn btn-lg btn-secondary"
    routerLink="/favorites"
  >
    Favorites
  </button>
  <app-sign-in *ngIf="authService.isLoggedOut()" class="ml-auto"></app-sign-in>
  <app-sign-out *ngIf="authService.isLoggedIn()" class="ml-auto"></app-sign-out>
</nav>
