a {
  color: black !important;
}

a:hover {
  background-color: black;
  border-radius: 0.25rem;
  color: white !important;
  /* text-decoration: underline; */
}

.logo {
  height: 45px;
}

.navbar-brand {
  font-size: 36px;
  font-family: "Pacifico", cursive;
  padding: 0;
  width: 90px;
}

.navbar-brand:hover {
  background-color: transparent;
  color: black !important;
  text-decoration: none;
}

.navbar {
  background-color: white;
}

.logo {
  height: 40px;
}

.nav-item {
  text-align: right;
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  a:hover {
    background-color: transparent;
    color: black !important;
    border-radius: 0;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo {
    height: 26px;
  }
}
