.jumbotron {
  height: 40vh;
  background-image: url(/assets/cocktails.jpg);
  background-size: cover;
  background-position-y: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.btn {
  background-color: transparent;
  color: black;
  text-shadow: 0 0 8px white;
  font-weight: 800;
  /* -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: white; */
}

.btn:hover {
  text-decoration: underline black;
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
  button {
    font-size: 14px;
    text-shadow: 0 0 10px white;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  button {
    font-size: 12px;
    text-shadow: 0 0 12px white;
  }
}
