<div class="card mb-5">
  <div class="card-body">
    <ul class="card-text extra text-center">
      <button
        *ngIf="!isFavorite"
        class="btn favorite mb-4"
        (click)="addFavorite()"
      >
        Add to Favorites
        <i class="fa fa-plus-circle ml-1" aria-hidden="true"></i>
      </button>
      <button
        *ngIf="isFavorite"
        class="btn favorite mb-4"
        (click)="removeFavorite()"
      >
        Remove from Favorites
        <i class="fa fa-minus-circle ml-1" aria-hidden="true"></i>
      </button>
      <br />
      <li>Servings: 1 cocktail</li>
      <br />
      <button class="btn nutrition" (click)="open()">
        Nutrition Facts
      </button>
    </ul>
  </div>
</div>
