h5 {
  font-weight: 700;
}

ul.card-text {
  padding: 0;
}

.extra {
  list-style-type: none;
  padding: none;
}

.btn {
  background-color: #f1f4f5;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

.fa {
  color: pink;
}

.nutrition {
  background-color: transparent;
  color: #007bff;
  padding-top: 0;
}

.nutrition:hover {
  /* color: black; */
  color: #007bff;
  background-color: transparent;
  text-decoration: underline;
}
