<!-- <h5 class="col text-center">Extra</h5> -->
<div class="card">
  <div class="card-body">
    <!-- <h5 class="card-title text-center">{{ drink.name }}</h5> -->
    <ul class="card-text extra text-center">
      <button class="btn favorite mb-4">
        Add to Favorites <i class="fa fa-heart" aria-hidden="true"></i>
      </button>
      <br />
      <li>Measurement: oz</li>
      <br />
      <li>Servings: 1 cocktail</li>
      <br />
      <button class="btn nutrition" (click)="open()" (click)="getNutrition()">
        Nutrition Facts
      </button>
    </ul>
  </div>
</div>

<!-- (click)="getNutrition()"  -->
