a {
  color: black !important;
}

a:hover {
  /* background-color: black; */
  /* color: rgba(0, 0, 0, 0.5) !important; */
  /* border-radius: 0.25rem; */
  text-decoration: underline;
}

.nav-item {
  text-align: right;
}
