.sidenav {
  z-index: 1;
  position: fixed;
  width: 20vw;
  height: 100vh;
  background-color: rgb(66, 66, 66);
}

.logo {
  width: 10px;
}

#sidenav-placeholder {
  width: 40%;
  /* height: 25%; */
  /* clip-path: circle(40%); */
  /* background-color: white; */
}

.list-group-item {
  background-color: transparent;
  color: white;
  border: transparent;
  text-align: center;
}

a {
  color: white;
  font-size: 18px;
}
