.sidenav {
  z-index: 1;
  position: fixed;
  width: 20vw;
  height: 100vh;
}

.logo {
  width: 10px;
}

#sidenav-placeholder {
  width: 40%;
  /* height: 25%; */
  /* clip-path: circle(40%); */
  /* background-color: white; */
}
