<div class="row mb-5 pl-4 pr-4">
  <p>
    Salud! was formulated out of a mutual love of good friends, good drinks and
    good times. Its creators, Inez, Tolu and McRae, had a passion for
    programming and a drive to make good websites, so they came together to make
    the idea a reality. This project introduced several new technologies to the
    team, including Angular and JSON Web Tokens. Add more here...
  </p>
  <p>
    We at Salud! believe alcohol should be a complement to good times, not a
    necessity for them. If you or someone you know may be struggling with
    alcohol dependence or addiction, please call the US Substance Abuse and
    Mental Health Services Administration hotline at 1-800-662-HELP (4357).
  </p>
</div>
