<div class="row mt-5">
  <div class="col-4">
    <img src="../../assets/drinks.jpg" />
  </div>
  <div class="col-8 pl-5">
    <div class="row">
      <h1 class="">About <span class="brand">Salud!</span></h1>
    </div>
    <div class="row">
      <p class="mt-4">
        Salud! was formulated out of a mutual love of good friends, good drinks
        and good times. Its creators, Inez, Tolu and McRae, had a passion for
        programming and a drive to make good websites, so they came together to
        make the idea a reality. This project introduced several new
        technologies to the team, including Angular and JSON Web Tokens. Add
        more here...
      </p>
      <p class="mt-4">
        We at Salud! believe alcohol should be a complement to good times, not a
        necessity for them. If you or someone you know may be struggling with
        alcohol dependence or addiction, please call the US Substance Abuse and
        Mental Health Services Administration hotline at 1-800-662-HELP (4357).
      </p>
    </div>
    <div class="row">
      <app-about-resources></app-about-resources>
    </div>
  </div>
</div>
