<app-advanced-search-nav
  (sendToParent)="getResults($event)"
></app-advanced-search-nav>
<div *ngIf="results$ | async as drinks" class="container">
  <div class="row">
    <div *ngFor="let drink of drinks" class="col-lg-3 col-md-6 col-12 mt-3">
      <div class="card" routerLink="/recipe/{{ drink.name }}">
        <img
          class="card-img-top"
          src="{{ drink.imageUrl }}"
          alt="{{ drink.source }}"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{ drink.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
