<div class="row mt-5">
  <ul>
    <li>
      STEP 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum,
      laborum fuga libero minus dignissimos omnis enim hic voluptas laboriosam
      reprehenderit sequi eum, esse sapiente, repellat magni sit consequuntur ab
      ea.
    </li>
    <br />
    <li>
      STEP 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut et
      dicta pariatur eveniet libero, consectetur laboriosam fugit deserunt sequi
      beatae dolore obcaecati maiores, soluta rem ab exercitationem voluptates
      possimus? Odit.
    </li>
    <br />
    <li>
      <!-- {{ cocktail[0].instructions }} -->
    </li>
  </ul>
</div>
