ul {
  padding: 0;
  list-style-type: none;
}

.steps {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  div {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  div {
    font-size: 16px;
  }
}
