<div class="row mb-5">
  <div class="col-4">
    <a
      href="https://www.aa.org/pages/en_US/need-help-with-a-drinking-problem"
      target="_blank"
      ><img src="../../assets/aa.png"
    /></a>
  </div>
  <div class="col-4">
    <a href="https://www.smartrecovery.org/" target="_blank"
      ><img src="../../assets/smart.png"
    /></a>
  </div>
  <div class="col-4">
    <a href="https://www.samhsa.gov/find-help/national-helpline" target="_blank"
      ><img src="../../assets/samhsa.png"
    /></a>
  </div>
</div>
