.dev-pic {
  width: 75%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
}

ul {
  padding: 0;
  list-style-type: none;
}

.card {
  margin-bottom: 10px;
  object-fit: contain;
  height: auto;
}

@media (max-width: 992px) {
  h4 {
    font-size: 18px;
  }
  li {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  h4 {
    font-size: 24px;
  }
  li {
    font-size: 16px;
  }
}
