<!-- <div class="row justify-content-center mt-5"><h1>Dev Team</h1></div> -->
<!-- INEZ -->
<div class="row">
  <div class="col-md-4 col-sm-12 mb-5">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center">
          <img src="../../assets/inez.jpg" class="dev-pic img-responsive" />
        </div>
        <div class="row info-row justify-content-center">
          <ul class="card-text text-center mt-3">
            <li><h4>Inez Escandon</h4></li>
            <li>
              <a href="https://github.com/iescandon" target="_blank"
                >Github <i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://iescandon.github.io/" target="_blank"
                >Portfolio <i class="fa fa-briefcase" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="mailto:iescan4@gmail.com"
                >E-mail <i class="fa fa-envelope" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- MCRAE -->
  <div class="col-md-4 col-sm-12 mb-5">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center">
          <img src="../../assets/mcrae.jpg" class="dev-pic img-responsive" />
        </div>
        <div class="row info-row justify-content-center">
          <ul class="card-text text-center mt-3">
            <li><h4>McRae Peavy</h4></li>
            <li>
              <a href="http://github.com/mcraepv" target="_blank"
                >Github <i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://mcraepv.github.io/" target="_blank"
                >Portfolio <i class="fa fa-briefcase" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="mailto:mcraepv@gmail.com"
                >E-mail <i class="fa fa-envelope" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- TOLU -->
  <div class="col-md-4 col-sm-12 mb-5">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center">
          <img src="../../assets/tolu.jpg" class="dev-pic img-responsive" />
        </div>
        <div class="row info-row justify-content-center">
          <ul class="card-text text-center mt-3">
            <li><h4>Tolu Alimi</h4></li>
            <li>
              <a href="https://github.com/ta05" target="_blank"
                >Github <i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://ta05.github.io/Tolu-Bio/index.html"
                target="_blank"
                >Portfolio <i class="fa fa-briefcase" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="mailto:tolualimi05@gmail.com"
                >E-mail <i class="fa fa-envelope" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
