.title {
  text-decoration: underline;
  font-weight: 700;
}

@media (min-width: 768px) {
  .title {
    margin-top: 45px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
