a {
  color: black !important;
}

a:hover {
  background-color: transparent;
  color: black !important;
  border-radius: 0;
  text-decoration: underline;
}

.nav-item {
  text-align: right;
}

/* @media (max-width: 991px) {
  a:hover {
    background-color: transparent;
    color: black !important;
    border-radius: 0;
    text-decoration: underline;
  }
} */
