.dropdown-menu {
  max-height: 30vh;
  overflow-y: auto;
}

.btn:hover {
  background-color: transparent;
  color: black;
}

.btn {
  background-color: black;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
