<nav class="navbar navbar-light bg-secondary">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div
        *ngFor="let cat of categoriesObj | keyvalue"
        class="col justify-content-center mx-2"
      >
        <div class="d-inline-block" ngbDropdown #dropdown="ngbDropdown">
          <button
            class="btn btn-outline-light mr-2"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="dropdown.open()"
          >
            {{ cat.key }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <div
              *ngFor="let ingredient of cat.value"
              class="form-check text-left ml-2"
            >
              <input
                class="form-check-input"
                type="checkbox"
                value="{{ ingredient.id }}"
                (change)="onCheck(ingredient.id, $event)"
                id="{{ ingredient.name }}"
              />
              <label class="form-check-label" for="{{ ingredient.name }}">
                {{ ingredient.name }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
